@import "../../styles.scss";

.explorer {
  background-color: $background;
  height: 100%;
  border: 1px solid $comment;
  padding: 15px;

  h1, ul {
    white-space: pre;
  }

  ul {
    cursor: pointer;
  }
}