@import "../../styles.scss";

.editor-page {
  height: 100%;

  margin: 0;
  .columns {
    margin: 0;
  }

  .column {
    padding: 0;
  }

  font-family: "Inconsolata", Monaco, monospace;
  font-weight: normal;
  font-size: small;
  color: $comment;
}